*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: 0;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    background-color: transparent;
    height: 46px;
}

.botao_sesi{
    background-color: rgb(4, 27, 155);
    border: none;
    width: 130px;
    height: 45px;
    box-shadow: 10px 10px 10px #ffffff;
    color: white;
    font-family: 'open sans',sans-serif;
    font-size: 20px;
}

.novo-médio{
    background-color: transparent;
    border: 0;
    box-shadow: 5px 5px 5pc #ffffff;
    align-items: center;
    padding-left: 5px;
    padding-top: 11px;
    font-family: 'open sans',sans-serif;
    color: rgb(82, 82, 212);
    font-size: 20px;
}

.capa{
    background-image: url("imagens/img_sesi.jpg"); /* define imagem como background */
    background-size: cover; /* centraliza a imagen no box */
    width: 100%; /* define a largura do box ou container */
    height: 600px; /* define a altura do box ou container */
    display: flex; /* método capaz de organizar espacialmente os elementos em uma interface */
    justify-content: center; /* centraliza na horizontal */
    align-items: center; /* centraliza na vertical */
}

.capa p{
    font-size: 60px; /* tamanho da fonte */
    font-family: 'open sans',sans-serif; /* família de fontes */
    color: darkblue; /* cor da fonte */
    background-color: rgba(255, 255, 255, 0.705); /* define a cor e a transparência */
    padding: 10px; /* espaçamento em volta do texto e seu box */
    padding-right: 20px;
    padding-left: 20px;
}

.primeiro_texto{
    font-size: 22px;
    font-family: 'open sans',sans-serif;
    padding-top: 45px;
    padding-left: 200px;
    padding-right: 200px;
    color: #0060A6;
    text-align: justify;
}

.botao_principal{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.botao_veja_mais{
    font-size: 15px;
    font-family: 'Arial',Helvetica,sans-serif;
    width: 140px;
    height: 35px;
    background-color: #0060A6;
    color: #ffffff;
    border: none;
}

.primeiro_paragrafo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
}

.text_como_funciona_novo_médio{
    color: #009A7B;
    font-family: 'open sans',sans-serif;
    font-size: 34px;
    width: 1300px;

}

.paragrafo_novo_medio{
    font-family: 'open sans',sans-serif;
    color: #0060A6;
    font-size: 22px;
    padding-left: 180px;
    padding-right: 50px;
    text-align: justify;
}

.pilares_novo_médio{
    display: flex;
    flex-direction: column;
}

.text_pilares{
    text-align: center;
    font-weight: bold;
    font-family: 'open sans',sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #009A7B;
}

.botao_atom{
    background-image: url("imagens/atom.jpg");
    width: 310px;
    height: 231px;
    border: none;
    margin-left: 150px;
    object-fit: cover;
    object-position: 20px 20px 40px;
    margin-top: 30px;
    margin-right: 20px;
    

}

.botao_atom:hover{
    background-image: url("imagens/atom_click.png");

}

.botao_mat{
    background-image: url("imagens/mat.png");
    width: 310px;
    height: 231px;
    border: none;
    margin-right: 20px;
}

.botao_mat:hover{
    background-image: url("imagens/mat_click.png");

}

.botao_certi{
    background-image: url("imagens/certificado.jpg");
    width: 310px;
    height: 231px;
    border: none;
    margin-right: 10px;
}

.botao_certi:hover{
    background-image: url("imagens/certificado_click.png");

}

.depoimento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.text_depoimento{
    color: #009A7B;
    font-size: 40px;
    font-family: 'open sans',sans-serif;
    font-weight: bold;
    padding-top: 40px;
}

.imagens_pessoas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
}

.fala_pessoas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
}

.pessoa_1{
    letter-spacing: 0em;
    font-family: 'open sans',sans-serif;
    font-size: 20px;
    line-height: 1.7em;
    text-align: justify;
    padding-left: 80px;
}

.pessoa_2{
    letter-spacing: 0em;
    font-family: 'open sans',sans-serif;
    font-size: 20px;
    line-height: 1.7em;
    text-align: justify;
    padding-right: 90px;
    padding-bottom: 70px;

}

.text_responsaveis{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-right: 10px;
    color: #0060A6
}

.text_conheça{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
}

.text_conheça_as_nossas_unidades{
    color: #009A7B;
    font-size: 40px;
    font-family: 'open sans',sans-serif;
    font-weight: bold;
    padding-top: 40px;
}

.camada_interesse{
    padding-top: 500px;
}

.text_tem_interesse{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #009A7B;
    font-size: 40px;
    font-family: 'open sans',sans-serif;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}

.text_seus_dados{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #0060A6;
    font-family: 'open sans',sans-serif;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
}

.entradas input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 573px;
    height: 37px;
    margin-left: 400px;
    padding-bottom: 20px;
}

.entrada_nome{
    box-shadow: 0 0 0 0;
    outline: 0;
    border-width: var(--brwe,1px);
    background-color: rgba(var(--bge,255,255,255),var(--alpha-bge,1));
    border-style: solid;
    border-color: rgba(var(--brde,163,217,246),var(--alpha-brde,1));
    
}

.entrada_nacionalidade{
    box-shadow: 0 0 0 0;
    outline: 0;
    border-width: var(--brwe,1px);
    background-color: rgba(var(--bge,255,255,255),var(--alpha-bge,1));
    border-style: solid;
    border-color: rgba(var(--brde,163,217,246),var(--alpha-brde,1));
}

.entrada_telefone{
    box-shadow: 0 0 0 0;
    outline: 0;
    border-width: var(--brwe,1px);
    background-color: rgba(var(--bge,255,255,255),var(--alpha-bge,1));
    border-style: solid;
    border-color: rgba(var(--brde,163,217,246),var(--alpha-brde,1));
}

.entrada_email{
    box-shadow: 0 0 0 0;
    outline: 0;
    border-width: var(--brwe,1px);
    background-color: rgba(var(--bge,255,255,255),var(--alpha-bge,1));
    border-style: solid;
    border-color: rgba(var(--brde,163,217,246),var(--alpha-brde,1));
}

.btn_enviar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
}

.botao_enviar{
    width: 675px;
    height: 40px;
    background-color: #0060A6;
    color: white;
    border: 1px;
    font-family: 'open sans',sans-serif;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    height: 200px;
    background-color: rgb(241, 240, 240);
}

.main_rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.word_rodape{
     margin-left: 50px;
     color: #0060A6;
     font-family: 'open sans',sans-serif;
     font-size: 16px;
}

.midia_rodape{
    padding-top: 20px;
}

.face{
    border: none;
    background-color: rgb(241, 240, 240);
}

.insta{
    border: none;
    background-color: rgb(241, 240, 240);
}

.world{
    border: none;
    background-color: rgb(241, 240, 240);

}